https://www.kaggle.com/c/quora-question-pairs

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
from TextCleaner import clean_data
import pickle

In [2]:
pd.options.display.max_colwidth = -1

# Import Data

In [3]:
train = pd.read_csv('train.csv')

In [4]:
train.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in share market in india?,What is the step by step guide to invest in share market?,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Diamond?,What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?,0
2,2,5,6,How can I increase the speed of my internet connection while using a VPN?,How can Internet speed be increased by hacking through DNS?,0
3,3,7,8,Why am I mentally very lonely? How can I solve it?,"Find the remainder when [math]23^{24}[/math] is divided by 24,23?",0
4,4,9,10,"Which one dissolve in water quikly sugar, salt, methane and carbon di oxide?",Which fish would survive in salt water?,0

In [5]:
train.shape

(404290, 6)

In [6]:
X = train[['question1', 'question2']]

In [7]:
y = train['is_duplicate']

In [8]:
print('There are {} ({:.2f}%) pair of same questions'.format(y.sum(), y.sum()*100/len(y)))

There are 149263 (36.92%) pair of same questions

# Preprocessing

In [9]:
X['question1'] = X['question1'].apply(str)

D:\Users\Ritvik\Anaconda3\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
X['question1'] = X['question1'].apply(lambda x : clean_data(x, False, False, False))

D:\Users\Ritvik\Anaconda3\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
X['question2'] = X['question2'].apply(str)

D:\Users\Ritvik\Anaconda3\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
X['question2'] = X['question2'].apply(lambda x : clean_data(x, False, False, False))

D:\Users\Ritvik\Anaconda3\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
X.head()

,question1,question2
0,what is the step by step guide to invest in share market in india,what is the step by step guide to invest in share market
1,what is the story of kohinoor koh i noor diamond,what would happen if the indian government stole the kohinoor koh i noor diamond back
2,how can i increase the speed of my internet connection while using a vpn,how can internet speed be increased by hacking through dns
3,why am i mentally very lonely how can i solve it,"find the remainder when math math is divided by ,"
4,"which one dissolve in water quikly sugar, salt, methane and carbon di oxide",which fish would survive in salt water

In [14]:
corpus = np.concatenate([X['question1'].values, X['question2'].values])

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
word_Vectorizer = TfidfVectorizer()
word_Vectorizer.fit(corpus)

q1_vector = word_Vectorizer.transform(X['question1'])
q2_vector = word_Vectorizer.transform(X['question2'])

In [17]:
pickle.dump(word_Vectorizer, open('WordVect.pickle', 'wb'))

In [18]:
q1_vector.shape

(404290, 79199)

In [19]:
q2_vector.shape

(404290, 79199)

In [20]:
from scipy.sparse import hstack
X_vector = hstack((q1_vector, q2_vector))

In [21]:
X_vector.shape

(404290, 158398)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X_vector, y)

# Model Training

## Logistic Regression

In [24]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.75905533624212207

## MultinomialNB

In [25]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.74301742305066631

## Random Forest

In [26]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.78949867917247929

# Predictions

In [27]:
test = pd.read_csv('test.csv')

D:\Users\Ritvik\Anaconda3\envs\tfdeeplearning\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
test.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare with iPad Pro?,Why did Microsoft choose core m3 and not core i3 home Surface Pro 4?
1,1,Should I have a hair transplant at age 24? How much would it cost?,How much cost does hair transplant require?
2,2,What but is the best way to send money from China to the US?,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

In [35]:
len(test)

3563475

In [31]:
test['question1'] = test['question1'].apply(str)
test['question1'] = test['question1'].apply(lambda x : clean_data(x, False, False, False))

test['question2'] = test['question2'].apply(str)
test['question2'] = test['question2'].apply(lambda x : clean_data(x, False, False, False))

In [32]:
vectorizer_pickled = pickle.load(open('WordVect.pickle', 'rb'))
vect1 = vectorizer_pickled.transform(test['question1'])
vect2 = vectorizer_pickled.transform(test['question2'])
vect = hstack((vect1, vect2))

In [38]:
model = LogisticRegression()
model.fit(X_vector, y)
pickle.dump(model, open('LogisticRegression.pickle', 'wb'))
pred = model.predict(vect)

In [42]:
submission = pd.concat([pd.DataFrame(np.arange(3563475)), pd.DataFrame(pred)], axis=1)

In [43]:
submission.head()

   0  0
0  0  0
1  1  0
2  2  1
3  3  0
4  4  1

In [45]:
submission.columns = ['test_id', 'is_duplicate']

In [46]:
submission.head()

   test_id  is_duplicate
0  0        0
1  1        0
2  2        1
3  3        0
4  4        1

In [47]:
submission.to_csv('LogisticRegression.csv', index=False)